
.header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:56px;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgb(223, 223, 223);
  position:fixed;
  top:0;
  left:0;
  right:0;
  background-color: white;
  z-index: 100;
}
.left{
  display: flex;
  align-items: center;
}
.middle{
  display:flex;
  flex:1;
  margin-left: 60px;
  margin-right:35px;
  max-width: 500px;
  align-items:center;
}
.search{
  flex:1;
  font-size: 15px;
  width:0;
  padding-top:11px;
  padding-bottom:11px;
  padding-left:10px;
  padding-right:5px;
  border-width:1px;
  border-style:solid;
  border-color:rgb(178, 172, 172);
  box-shadow:inset 1px 2px 3px rgba(0,0,0,0.05);
  
}
.search:hover{
  border-color: rgb(33, 33, 203);
}

.searchicon{
  height:41px;
  width:60px;
  margin-right:8px;
  padding:0;
  background-color: rgb(247,247,247);
  border-style:solid;
  border-color:rgb(192, 192, 192);
  border-width:1px;
  margin-left:-1px;
}

.right{
  display:flex;
  flex-direction: row;
  width: 200px;
  margin-right: 24px;
  justify-content: space-between;
  align-items:center;
  flex-shrink:0;
}
.icons{
  height:28px;
}
.hamburger{
  height:24px;
  margin-left:12px;
  margin-right:16px;
}

.searching{
  height:25px;
  margin-top:4px;
}
.voiceicon{
  height:40px;
  width:40px;
  border-radius:50%;
  padding-bottom:5px;
  background-color: #f8f8f8;
  border:1px solid #ddd;
  position:relative
  
}
.voice{
  height:24px;
  margin-top:4px;
}
.account{
  width:30px;
  border-radius:16px;
}
.navbar{
  position:fixed;
  left:0;
  bottom:0;
  top:57px;
  background-color: white;
  width:72px;
  z-index:200;
  padding-top:5px;
}
.navicon{
  height: 74px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor:pointer;
}
.navicon:hover{
  background-color: rgb(235,235,235);
}

.navicon img{
  height:24px;
  margin-bottom:7px;
}
.navicon p{
  font-size:10px;
}
.searchicon,.voiceicon,.uploadicon,.utubeicon,.notion{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.searchicon .tooltip ,
.voiceicon .tooltip,
.uploadicon .tooltip,
.utubeicon .tooltip,
.notion .tooltip
{
  position:absolute;
  background-color: grey;
  color:white;
  padding-top:8px;
  padding-bottom:8px;
  padding-left:8px;
  padding-right:8px;
  border-radius: 2px;
  font-size:12px;
  bottom:-30px;
  opacity:0; 
  transition:opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.searchicon:hover .tooltip,
.voiceicon:hover .tooltip,
.uploadicon:hover .tooltip,
.utubeicon:hover .tooltip,
.notion:hover .tooltip
{
  opacity:1;
}


